<div class="collection-list">
        <div class="grid-uniform grid-link__container col-main">            
             
          
          <div class="collection__wrap">
            <div class="collection__image">
              <img src="//cdn.shopify.com/s/files/1/0510/7689/0811/collections/108808_10_5801c6be-7c4b-4984-8f5e-86b155d24d4e_800x.jpg?v=1672510080" alt="Meme Design">
            </div>

            <div class="collection__text">
              <h1 class="collection__title">Meme Design</h1>

              <p><strong>MEME&nbsp;DESIGN</strong>&nbsp;&nbsp;srl is a young and dynamic Italian company, based in the charming city of Rimini, which produces useful, trendy and never banal objects and furnishing accessories.</p>
<p><strong>MEME</strong>&nbsp;takes its name from memetics, the modern science that studies memes, i.e. the unit of measurement of the strength of ideas in society.<br> Each&nbsp;<strong>MEME</strong>&nbsp;product must therefore meet the following requirements:</p>
<ol>
<li>Creative and transversal design</li>
<li>Rounded and sinuous shapes</li>
<li>Possibility of being inserted in multiple living areas</li>
<li>Excellent quality&nbsp;<strong>MADE IN ITALY</strong>
</li>
<li>Simplicity in transport and assembly</li>
</ol>
<p>The production is completely&nbsp;<strong>MADE IN ITALY</strong>&nbsp;, to point out the high manufacturing of its products.&nbsp;That famous MADE IN ITALY which above all means love for things done well, passion for beauty, care for relationships and dedication to work</p>
            </div>
          </div>

          <div class="products-grid-view">
          
          <div class="grid__item">
            <p><em>You have no products in your Frontpage collection. This placeholder will appear until you <a href="/admin/collections?tutorial=Frontpage">add a product to this collection</a>.</em></p>
          </div>
          
          </div>
          
            
        </div>
      </div><div class="collection-list">
        <div class="grid-uniform grid-link__container col-main">            
             
          
          <div class="collection__wrap">
            <div class="collection__image">
              <img src="//cdn.shopify.com/s/files/1/0510/7689/0811/collections/108808_10_5801c6be-7c4b-4984-8f5e-86b155d24d4e_800x.jpg?v=1672510080" alt="Meme Design">
            </div>

            <div class="collection__text">
              <h1 class="collection__title">Meme Design</h1>

              <p><strong>MEME&nbsp;DESIGN</strong>&nbsp;&nbsp;srl is a young and dynamic Italian company, based in the charming city of Rimini, which produces useful, trendy and never banal objects and furnishing accessories.</p>
<p><strong>MEME</strong>&nbsp;takes its name from memetics, the modern science that studies memes, i.e. the unit of measurement of the strength of ideas in society.<br> Each&nbsp;<strong>MEME</strong>&nbsp;product must therefore meet the following requirements:</p>
<ol>
<li>Creative and transversal design</li>
<li>Rounded and sinuous shapes</li>
<li>Possibility of being inserted in multiple living areas</li>
<li>Excellent quality&nbsp;<strong>MADE IN ITALY</strong>
</li>
<li>Simplicity in transport and assembly</li>
</ol>
<p>The production is completely&nbsp;<strong>MADE IN ITALY</strong>&nbsp;, to point out the high manufacturing of its products.&nbsp;That famous MADE IN ITALY which above all means love for things done well, passion for beauty, care for relationships and dedication to work</p>
            </div>
          </div>

          <div class="products-grid-view">
          
          <div class="grid__item">
            <p><em>You have no products in your Frontpage collection. This placeholder will appear until you <a href="/admin/collections?tutorial=Frontpage">add a product to this collection</a>.</em></p>
          </div>
          
          </div>
          
            
        </div>
      </div>