/* 
font-family: "Engravers Gothic", sans-serif;
font-family: "Avenir Book", sans-serif;
font-family: "Amoret Script", sans-serif;
*/

/* MIN width 
@media (min-width: 360px)
@media (min-width: 576px)
@media (min-width: 768px)
@media (min-width: 992px)
@media (min-width: 1280px)
@media (min-width: 1480px)
@media (min-width: 2000px)

MAX width
@media (max-width: 359px)
@media (max-width: 575px)
@media (max-width: 767px)
@media (max-width: 991px)
@media (max-width: 1279px)
@media (max-width: 1479px)
*/